/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
	min-height: 20vh;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

body {
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	flex-direction: row;
	height: 60vh;;
}

.main nav {
	width: 20vw;
}

.main article {
	width: 60vw;
}

.main aside {
	width: 20vw;
}

footer {
	height: 20vh;
	width: 100vw;
}



