/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
	min-height: 20vh;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

body {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	margin: 0px;
}

nav {
	height: 100vh;
	width: 20vw;
}

.outer-col {
	display: flex;
	flex-direction: column;
	flex: 6;
}

.inner-row {
	display: flex;
	flex-direction: row;
}

.inner-col {
	display: flex;
	flex-direction: column;
	flex: 4;
}

.inner-row article {
	min-height: 60vh;
}

.inner-row aside {
	flex: 1;
}



